*{
    margin-left: .5px;
    box-sizing: border-box;
}


/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

    nav {/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,207cca+0,3059ff+0,0500aa+100 */
        background: #1e5799; /* Old browsers */
        background: -moz-linear-gradient(top,  #1e5799 0%, #207cca 0%, #3059ff 0%, #0500aa 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #1e5799 0%,#207cca 0%,#3059ff 0%,#0500aa 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #1e5799 0%,#207cca 0%,#3059ff 0%,#0500aa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#0500aa',GradientType=0 ); /* IE6-9 */
        
    }

    header {
        background-color: teal;
    }
    


nav button {
    display: none;
}

nav ul.hide {
    display: block;
}

nav ul {
    margin-left: 2%;
}

nav ul li {
    float: left;
}

nav ul li a{
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.3);  
    padding: .8rem 2.5rem;
}



header img {
    width: 90%;
}

.headings h1 {
    font-size: 3rem;
    color: #4b2bd8;
}

.moto {
    letter-spacing: 1.5pt;
    font-size: larger;
    margin-left: 17px;
    color: #fff;
    
}

footer {
    display: grid;
    grid-template-columns: 100% auto;
    background-color: teal;    
    color: #fff;
    text-align: center;  
    font-family: Verdana, sans-serif;
    margin: 0 auto;    
    padding: 1rem;
    font-size: .9rem;
  
}


footer a {
    text-decoration: none;
    font-family: Verdana, sans-serif;
    color: #4b2bd8;  
}

  
  .copyright {
    height: 55px;
    line-height: 55px;  
  }
  




} /*end large */